@charset "utf-8";
/* CSS Document */

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#cssmenu:after,
#cssmenu > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#cssmenu #menu-button { display: none; }
#cssmenu { width: 100%; line-height: 1; float:right; margin:0; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; letter-spacing:0.06em; }
header.fixed #cssmenu { margin:70px 0 0 0; }
#menu-line { display:none; position: absolute; top: 0; left: 0; height: 3px; background: #045f3a; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -ms-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; transition: all 0.25s ease-out; }
#cssmenu > ul > li { float: left; position:relative; }
#cssmenu > ul > li:last-child:after { display:none; }
#cssmenu.align-center > ul { font-size: 0; text-align: center; }
#cssmenu.align-center > ul > li { display: inline-block; float: none; }
#cssmenu.align-center ul ul { text-align: left; }
#cssmenu.align-right > ul > li { float: right; }
#cssmenu.align-right ul ul { text-align: right; }
#cssmenu > ul > li > a { padding:18px 29px; text-transform:uppercase; margin:0; font-size: 16px; text-decoration: none; /*text-transform: uppercase;*/ color:#fff; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {background:#045f3a; color:#fff; }

#cssmenu > ul > li.has-sub > a { /*padding-right: 25px;*/ }
#cssmenu > ul > li.has-sub > a::after { /*position: absolute; top: 21px; right: 10px; width: 4px; height: 4px; border-bottom: 1px solid #000000; border-right: 1px solid #000000; content: ""; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: border-color 0.2s ease; -moz-transition: border-color 0.2s ease; -ms-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;*/ }
#cssmenu > ul > li.has-sub:hover > a::after { border-color: #009ae1; }
#cssmenu ul ul { position:absolute; top:110%; left:0; opacity:0; visibility:hidden; -webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in; z-index:2;}
#cssmenu li:hover > ul { left:0; top:100%; opacity:1; visibility:visible; }
#cssmenu.align-right li:hover > ul { right: 0; }
#cssmenu ul ul ul { margin-left: 100%; top: 0; }
#cssmenu.align-right ul ul ul { margin-left: 0; margin-right: 100%; }
#cssmenu ul ul li { height:auto; -webkit-transition: height .2s ease; -moz-transition: height .2s ease; -ms-transition: height .2s ease; -o-transition: height .2s ease; transition: height .2s ease; border-bottom:#3f3f3f solid 1px; }
#cssmenu ul li:hover > ul > li { height:auto; }
#cssmenu ul ul li a { padding:14px 15px; width:250px; font-size: 16px; background:#333; text-decoration: none; color: #fff; position:relative; z-index:1; }
#cssmenu ul ul li a:before { content:""; position:absolute; top:0; left:0; width:0; height:100%; background:#045f3a; z-index:-1; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
#cssmenu ul ul li:hover a:before,
#cssmenu ul ul li a:hover:before { width:100%; }
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover { color:#fff; background:#045f3a; }
#cssmenu ul ul li.has-sub > a::after { position: absolute; top: 13px; right: 10px; width: 4px; height: 4px; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd; content: ""; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition: border-color 0.2s ease; -moz-transition: border-color 0.2s ease; -ms-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease; }
#cssmenu.align-right ul ul li.has-sub > a::after { right: auto; left: 10px; border-bottom: 0; border-right: 0; border-top: 1px solid #dddddd; border-left: 1px solid #dddddd; }
#cssmenu ul ul li.has-sub:hover > a::after { border-color: #ffffff; }

@media screen and (max-width:1199px) {
	#cssmenu {
		margin:0;
	}
	#cssmenu > ul > li > a {
		margin:0;
		padding:14px 18px;
		font-size:16px;
	}
	#cssmenu ul ul li a:before {
		display:none;
	}
}

@media all and (max-width: 991px) {
	#cssmenu > ul > li.active > a:after { display:none; }
	#cssmenu > ul > li:after { display:none; }
	#cssmenu > ul > li > a { margin:0; padding:15px 10px; font-size:14px; color:#fff; position:relative; z-index:1; }
	#cssmenu > ul > li > a:hover,
	#cssmenu > ul > li:hover > a,
	#cssmenu > ul > li.active > a { background:#045f3a; }
	#cssmenu ul ul li a:before { display:none; }
	/*#cssmenu > ul > li > a:before { content:""; position:absolute; top:0; left:0; width:0; height:100%; background:#045f3a; z-index:-1; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
	#cssmenu > ul > li:hover > a:before { width:100%; }*/
	#cssmenu > ul > li.active > a { border:0; }
	#cssmenu,
	header.fixed #cssmenu { width:auto; text-align:right; margin:0; }
	#cssmenu ul { width:100%; display:none; position:absolute; left:0; top:100%; text-align:left; background:#333; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; z-index:1;}
	#cssmenu.align-center > ul, #cssmenu.align-right ul ul { text-align:left; }
	#cssmenu ul li, #cssmenu ul ul li, #cssmenu ul li:hover > ul > li { width:100%; height:auto; border-top:1px solid rgba(120, 120, 120, 0.15); }
	#cssmenu ul li a, #cssmenu ul ul li a { width:100%; }
	#cssmenu > ul > li, #cssmenu.align-center > ul > li, #cssmenu.align-right > ul > li { float:none; display:block; }
	#cssmenu ul ul li a { padding:10px 10px 10px 20px; font-size:15px; color:#fff; background:none; }
	#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover { color:#fff; background:#045f3a; }
	#cssmenu ul ul ul li a { padding-left:40px; }
	#cssmenu ul ul, #cssmenu ul ul ul { position:relative; left:0; top:0; right:auto; width:100%; margin:0; }
	#cssmenu > ul > li.has-sub > a::after, #cssmenu ul ul li.has-sub > a::after { display:none; }
	#menu-line {   display: none; }
	#cssmenu #menu-button { display:inline-block; padding:15px 44px 15px 20px; color:#fff; cursor:pointer; font-size:16px; text-transform:uppercase; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
	#cssmenu #menu-button:hover { color:#fff; }
	#cssmenu #menu-button::after { content:""; position:absolute; top:17px; right:20px; display:block; width:15px; height:2px; background:#fff; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
	#cssmenu #menu-button::before { content:""; position:absolute; top:22px; right:20px; display:block; width:15px; height:7px; border-top: 2px solid #fff; border-bottom:2px solid #fff; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in; }
	#cssmenu #menu-button:hover::after { background: #fff; }
	#cssmenu #menu-button:hover::before { border-top: 2px solid #fff;   border-bottom: 2px solid #fff; }
	#cssmenu .submenu-button { position:absolute; z-index:10; right:0; top:0; display:block; height:44px; width:44px; cursor:pointer; }
	#cssmenu .submenu-button::after { content:""; position:absolute; top:17px; left:21px; display:block; width:1px; height: 11px; background:#fff; z-index:99; }
	#cssmenu .submenu-button::before { content:""; position:absolute; left:16px; top:22px; display:block; width:11px; height:1px; background:#fff; z-index:99; }
	#cssmenu li:hover .submenu-button::after, #cssmenu li:hover .submenu-button::before { background:#fff; }
	#cssmenu ul li ul li .submenu-button { width:36px; height:36px; }
	#cssmenu ul li:hover ul li .submenu-button::after, #cssmenu ul li:hover ul li .submenu-button::before { background:#fff; }
	#cssmenu ul li ul li .submenu-button::after { left:16px; top:11px; background:#fff; }
	#cssmenu ul li ul li .submenu-button::before { left:11px; top:16px; background:#fff; }
	#cssmenu ul li:hover ul li:hover .submenu-button::after, #cssmenu ul li:hover ul li:hover .submenu-button::before { background:#000; }
	#cssmenu .submenu-button.submenu-opened:after { display:none; }
	#cssmenu ul ul { visibility:visible; opacity:1; }
	#cssmenu li:hover > ul { left:0; top:0; }
}

@media all and (max-width: 567px) {
	#cssmenu, header.fixed #cssmenu { margin:0; }
	#cssmenu #menu-button { padding:15px 24px 15px 0; }
	#cssmenu #menu-button::after, #cssmenu #menu-button::before { right:0; }
	#cssmenu ul { top:100%; }
	#cssmenu ul ul li{
		border-bottom:none;
	}
}