@media (min-width: 1200px) and (max-width: 1300px) {

} 


@media (min-width: 992px) and (max-width: 1199px) {

	.welcome-img img{
		width:100%;
	}
	.welcome-icons ul li{
		width:48%;
	}
	.latest-update img{
		max-width:100%;
	}
	.footer-gallery li{
		width:33.33%;
	}
	.footer-gallery li a img{
		max-width:100%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	h1{
		font-size:30px;
		font-weight:700;
		margin:0;
	}
	h2{
		font-size:26px;
		margin:0;
	}
	h3{
		font-size:20px;
		font-weight:bold;
		margin:0;
	}
	h4{
		font-size:18px;
		font-weight:600;
		margin:0;
	}
	
	
	/* title */
	.title-big h2{
		font-size:28px;
	}
 	
	
	/* all content */
	.section{
		padding:50px 0;
	}
	.welcome-icons{
		float:left;
		width:100%;
		margin:0 0 27px 0;
	}
	.welcome-img,
	.welcome-img img{
		width:100%;
	}
	.sd-block{
		margin:20px 0;
	}
	.event-gallery-slider .owl-nav{
		top:-68px;
	}
	.latest-update img{
		width:100%;
	}
	.latest-update .col-md-4{
		margin:0 0 27px 0;
	}
	
	/* footer */
	.footer-col p{
		margin:0 0 16px 0;
	}
	.footer-bottom{
		float:left;
		width:100%;
		text-align:center;
	}
	.copyright{
		width:100%;
		margin:0 0 15px 0;
	}
	.footer-bottom ul{
		float:none;
		text-align:center;
	}
	.footer-bottom ul li{
		float:none;
		margin:0 7px;
		display:inline-block;
	}

}


@media (max-width: 767px) {
	h1{
		font-size:30px;
		font-weight:700;
		margin:0;
	}
	h2{
		font-size:26px;
		margin:0;
	}
	h3{
		font-size:20px;
		font-weight:bold;
		margin:0;
	}
	h4{
		font-size:18px;
		font-weight:600;
		margin:0;
	}
	
	/* header */
 	.topbar:before,
	.topbar:after{
		display:none;
	}
	.topbar{
		display:inline-block;
		text-align:center;
	}
	.topbar ul{
		float:none;
	}
	.topbar ul li{
		float:none;
		display:inline-block;
	}
	.topbar ul li a{
		margin:0 20px 0 0;
	}
	.topbar ul li a:after{
		right:-14px;
	}
	.topbar ul li:last-child a:after{
		display:none;
	}
	.navbar-brand{
		margin:0 0 10px 0;
		padding:0;
	}
	.navbar-brand img{
		max-width:100%;
	}
	
	
	/* slider */
	.slider-text{
		max-width:100%;
		padding:20px 0 50px 0;
		position:static;
		top:0;
		right:0;
		-webkit-transform:none;
		-o-transform:none;
		-ms-transform:none;
		-moz-transform:none;
		transform:none;
	}
	.homebanner .owl-nav .owl-next,
	.homebanner .owl-nav .owl-prev{
		width:30px;
		height:30px;
		padding:9px !important;
		line-height:14px;
		position:static;
		margin:0 5px !important;
	}
	.homebanner .owl-nav .owl-next:before,
	.homebanner .owl-nav .owl-prev:before{
		font-size:14px;
	}
	.homebanner .owl-nav{
		top:auto;
		bottom:10px;
		position:absolute;
		-webkit-transform:none;
		-o-transform:none;
		-ms-transform:none;
		-moz-transform:none;
		transform:none;
	}
	
	/* title */
	.title-big h2{
		font-size:28px;
	}
 	
	
	/* all content */
	.section{
		padding:50px 0;
	}
	.welcome-img img{
		width:100%;
	}
	.welcome-icons{
		float:left;
		margin:0 0 27px 0;
	}
	.welcome-icons ul li{
		width:48%;
		padding:0 1.5% 0 0;
	}
	.event-gallery-slider .owl-nav{
		top:-68px;
	}
	.latest-update img{
		width:100%;
	}
	.latest-update .col-md-4{
		margin:0 0 27px 0;
	}
	.sd-block{
		margin:15px 0;
	}
	.review-quote{
		top:175px;
		left:25%;
	}
	.review-quote img{
		width:50px !important;
	}
	
	
	/* footer */
	.footer-col{
		float:left;
		width:100%;
		margin:0 0 30px 0;
	}
	.footer-gallery li{
		width:33.33%;
	}
	.footer-gallery li a img{
		width:100%;
	}
	.footer-bottom{
		float:left;
		width:100%;
		text-align:center;
	}
	.copyright{
		width:100%;
		margin:0 0 15px 0;
	}
	.footer-bottom ul{
		float:none;
		text-align:center;
	}
	.footer-bottom ul li{
		float:none;
		margin:0 7px;
		display:inline-block;
	}
	
 
 
}


@media (max-width: 568px){

	/* all content */
	.welcome-icons ul li{
		width:100%;
		padding:0;
	}

}