/*===== Common Class =====*/
 
body {
	padding:0  !important ;
	margin: 0   !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#333;
}
html { 
	-webkit-font-smoothing: antialiased; 
}
img{
	padding: 0;
	margin: 0;
	border: 0;
}
*{
	padding: 0;
	margin: 0;
	outline: none;
	word-wrap: break-word;
}
p{
	font-size:14px;
	color:#333;
	line-height:20px;
}
h1{
	font-size:45px;
	font-weight:700;
	margin:0;
}
h2{
	font-size:38px;
	margin:0;
}
h3{
	font-size:25px;
	font-weight:bold;
	margin:0;
}
h4{
	font-size:20px;
	font-weight:600;
	margin:0;
}
h5,h6{
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
	font-weight: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}
a, a:hover {
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:focus,select:focus{outline: none;}
:focus {
	outline: none;
}
.fl { 
	float:left; 
}
.fr { 
	float:right; 
}
li, ul, ol { 
	list-style:none; 
	margin:0px;
	padding:0px;
}
a, a img {
	text-decoration:none;
	border:0;
	outline:none !important;
}
a,
button,
input[type=submit] {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus {
	text-decoration:none;
	outline:none;
}
.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.cf {
	display: block;
}
.green-btn{
	font-weight:600;
	color:#fff;
	font-size:14px;
	background:#045f3a;
	-webkit-border-radius:40px;
	border-radius:40px;
	display:inline-block;
	padding:10px 30px;
	text-transform:uppercase;
}
.green-btn:hover{
	background:#333;
	color:#fff;
}
input, textarea { 
	outline:none !important; 
}
#wrapper {
	width:100%;
}
input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}

/*========== bootstarp select ==============*/
.bootstrap-select {
	display: inline-block;
	float: none;
	width: 100%;
}
.bootstrap-select .btn,
.bootstrap-select .btn.dropdown-toggle {
	width: 100%;
	max-width: 345px;
	padding: 11px 50px 13px 15px;
	font-size: 13px;
	color: #323232;
	text-align: left;
	background: none;
	border-color: #707070;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none;
}
.bootstrap-select.select-1 .btn { min-width: 250px; }
.bootstrap-select.select-2 .btn,
.bootstrap-select.select-2 .btn.dropdown-toggle {
	min-width: 205px;
	padding-left: 6px;
	color: #acacac;
}
.bootstrap-select.select-2 .sort_by { display: none; }
.bootstrap-select .sort_by { display: inline-block; }
.bootstrap-select .pull-left {
	display: inline-block;
	float: none !important;
}
.bootstrap-select .btn .caret {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: solid 1px transparent;
}
.bootstrap-select .btn .caret:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-family:'FontAwesome';
	font-size: 18px;
	color: #323232;
	content: "\f107";
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.bootstrap-select .dropdown-menu {
	width: 100%;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		-ms-border-radius: 0;
			border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none;
}
.bootstrap-select div.dropdown-menu {
	height: auto; 
	min-height: 136px !important;
	margin-top: 0;
	border-top: none;
	border-color: #ccc;
	overflow-y: auto !important;
}
.bootstrap-select ul.dropdown-menu {
	top: 0;
	max-height: inherit !important;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	overflow: hidden !important;
}
.bootstrap-select .dropdown-menu li { border-bottom: solid 1px #ccc; }
.bootstrap-select .dropdown-menu li:last-child { border-bottom-color: #fff; }
.bootstrap-select .dropdown-menu li.selected a,
.bootstrap-select .dropdown-menu li.selected a:focus,
.bootstrap-select .dropdown-menu li a:hover { background: #f1f1f1; }
.bootstrap-select .dropdown-menu li a:focus { background: none; }
.bootstrap-select .dropdown-menu li a i { display: none; }
/*========== bootstarp select ==============*/





/*===== Common Class =====*/
.float_none{
	float:none !important; 
}

.main_wapper{ 
	width:100%; 
	float:left;
	overflow:hidden;
}

/*=========================================*/
/* Bootstrap Class Overwrite */
/*=========================================*/
@media (min-width: 1330px) {
  .container {
    width: 1300px;
  }
}

.navbar-toggle {
	border:0;
	margin:20px;
	padding:0;
	float:right;
	border-radius:0px;
}
.navbar-toggle:hover {
	background: none !important;
}
.navbar-toggle .icon-bar {
	height: 3px;
	background: #3bb6b1 !important;
}
.navbar-toggle:hover .icon-bar, 
.navbar-toggle:focus .icon-bar {
	background: #e83555 !important;
}
.navbar-toggle:focus {
	background: none !important;
}
.navbar-inverse{
	margin:0;
	background:none;
	border:none;
}
.navbar-brand{
	padding-top:0;
	padding-bottom:0;
	height:auto;
	margin-top:-40px;
	position:relative;
	z-index:1;
}
#cssmenu > ul > li > a i{
	margin:0 0 0 8px;
}
.topbar{
	background:#045f3a;
	width:100%;
	min-height:40px;
	position:relative;
}
.topbar:after{
	content:'';
	position:absolute;
	width:10000px;
	left:100%;
	background:#045f3a;
	min-height:40px;
	z-index:1;
}
.topbar ul{
	float:right;
	margin:10px 0;
}
.topbar ul li{
	float:left;
}
.topbar ul li a{
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	margin:0 40px 0 0;
	position:relative;
	letter-spacing:0.05em;
}
.topbar ul li a:hover{
	color:#d9d9d9;
}
.topbar ul li a:after{
	content:'/';
	position:absolute;
	right:-22px;
	top:-2px;
}
.topbar ul li:last-child a{
	margin-right:0;
}

/*=========================================*/
/* Main Header */
/*=========================================*/
#header{
	float:left;
	width:100%;
}
.header_wapper{
	width:100%;
	float:left;
	padding:0;
}
.navigation{
	background:#333;
	position:relative;
	width:100%;
}
 
/*=========================================*/
/* Main Banner */
/*=========================================*/
.banner_wapper{
	float:left;
	width:100%;
}
.homebanner{
	width:100%;
	background:#f1f1f1;
}
.slider-text{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%) translateX(95%);
	-o-transform:translateY(-50%) translateX(95%);
	-moz-transform:translateY(-50%) translateX(95%);
	-ms-transform:translateY(-50%) translateX(95%);
	transform:translateY(-50%) translateX(95%);
	z-index:1;
	max-width:360px;
	right:45%;
}
.slider-text h4{
	font-weight:600;
	color:#045f3a;
	margin:0 0 10px 0;
}
.slider-text h1{
	margin:0 0 15px 0;
}
.slider-text p{
	margin:0 0 18px 0;
}
.homebanner .owl-controls{
	margin:0;
}
.homebanner .owl-nav{
	width:100%;
	left:0;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
.homebanner .owl-nav .owl-prev{
	width:50px;
	height:50px;
	font-size:0 !important;
	background:#333 !important;
	-webkit-border-radius:100% !important;
	border-radius:100% !important;
	position:absolute;
	left:20px;
	margin:0 !important;
	text-align:center;
	padding:12px !important;
	line-height:27px; 
}
.homebanner .owl-nav .owl-prev:before{
	content: "\f053";
	font-family: 'FontAwesome';
	font-size:22px;
	color:#fff;
}
.homebanner .owl-nav .owl-next{
	width:50px;
	height:50px;
	font-size:0 !important;
	background:#333 !important;
	-webkit-border-radius:100% !important;
	border-radius:100% !important;
	position:absolute;
	right:20px;
	margin:0 !important;
	text-align:center;
	padding:12px !important;
	line-height:27px; 
}
.homebanner .owl-nav .owl-next:before{
	content: "\f054";
	font-family: 'FontAwesome';
	font-size:22px;
	color:#fff;
}

/*=========================================*/
/* Main Content */
/*=========================================*/
.section{
	padding:100px 0;
}

/* Welcome To DPS */
.welcome-dps,
.event-gallery{
	width:100%;
	float:left;
}
.welcome-dps p{
	margin:0 0 21px 0;
}
.welcome-dps p:nth-child(4){
	margin:0;
}
.welcome-icons{
	width:100%;
}
.welcome-icons ul li{
	float:left;
	font-size:20px;
	font-weight:600;
	color:#333;
	width:33.33%;
	padding:0 15px 0 0;
	margin:27px 0 0 0;
}
.welcome-icons ul li span{
	display:inline-block;
	background:#045f3a;
	width:60px;
	height:50px;
	text-align:center;
	line-height:50px;
	margin:0 16px 0 0;
}
.welcome-icons ul li span i{
	color:#fff;
	font-size:25px;
}
.title-big h2{
	display:inline-block;
	font-size:45px;
	font-weight:700;
	color:#333;
	padding:0 0 7px 0;
	border-bottom:#045f3a solid 1px;
	position:relative;
	margin:0 0 27px 0;
}
.title-big h2:after{
	content:'';
	position:absolute;
	left:0;
	bottom:-3px;
	width:80px;
	height:5px;
	background:#045f3a;
}

/* Event Gallery */
.event-gallery .title-big h2{
	color:#fff;
	border-bottom:#fff solid 1px;
}
.event-gallery .title-big h2:after{
	background:#fff;
}
.event-gallery{
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;	
}
.event-gallery,
.event-gallery-slider{
	width:100%;
	float:left;
}
.event-gallery-slider h3{
	margin:12px 0 10px 0;
}
.event-gallery-slider h3 a{
	font-weight:700;
	color:#fff;
}
.event-gallery-slider h3 a:hover{
	color:#f0bd0b;
}
.event-gallery-slider p{
	color:#fff;
	margin:0 0 16px 0;
}
.event-gallery-slider a.green-btn:hover{
	background:#fff;
	color:#333;
}
.event-gallery-slider .owl-controls{
	margin:0;
}
.event-gallery-slider .owl-nav{
	position:absolute;
	top:-85px;
	right:0;
}
.event-gallery-slider .owl-nav .owl-prev,
.event-gallery-slider .owl-nav .owl-next{
	width:30px !important;
	height:30px !important;
	background:none !important;
	border:#fff solid 1px !important;
	-webkit-border-radius:0 !important;
	border-radius:0 !important;
	font-size:0 !important;
	margin:0 0 0 5px!important;
	position:relative;	
	color:#fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.event-gallery-slider .owl-nav .owl-prev:before{
	content: "\f104";
	font-family: 'FontAwesome';
	position:absolute;
	text-align:center;
	font-size:25px;
	line-height:20px;
	left:9px;
}
.event-gallery-slider .owl-nav .owl-next:before{
	content: "\f105";
	font-family: 'FontAwesome';
	position:absolute;
	text-align:center;
	font-size:25px;
	line-height:20px;
	right:9px;
}
.event-gallery-slider .owl-nav .owl-prev:hover,
.event-gallery-slider .owl-nav .owl-next:hover{
	background:#fff !important;
	color:#333 !important;
}

/* Latest Update */
.latest-update{
	width:100%;
	float:left;
}
.latest-update h3{
	margin:12px 0 10px 0;
}
.latest-update h3 a{
	font-weight:700;
	color:#045f3a;
}
.latest-update h3 a:hover{
	color:#333;
}
.latest-update p{
	color:#333;
	margin:0 0 16px 0;
}
.latest-update a.green-btn:hover{
	background:#333;
	color:#fff;
}

/* School Details */
.school-details{
	float:left;
	width:100%;
	background:#323232 url(../images/dps-grey.jpg) no-repeat center top;
	padding:50px 0;
}
.sd-block h3{
	font-weight:700;
	color:#fff;
	margin:0 0 4px 0;
}
.sd-block h2{
	font-size:45px;
	font-weight:700;
	color:#fff;
}

/* Reviews Block */
.reviews-block{
	width:100%;
	float:left;
}
.reviews-block .title-big h2:after{
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}
.reviews-slider{
	margin:20px 0 0 0;
}
.reviews-slider h3{
	color:#333;
	margin:15px 0 0 0;
}
.reviews-slider h4{
	color:#333;
	font-weight:400;
	margin:0 0 15px 0;
}
.reviews-slider p{
	margin:0 0 45px 0;
}
.review-quote{
	position: absolute;
	left: 36%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	top: 113px;
}
.review-quote img{
	width:auto !important;
}
.user-pic{
	width:184px;
	height:184px;
	display:inline-block;
	background:#f8f8f8;
	-webkit-border-radius:100%;
	border-radius:100%;
}

/*=========================================*/
/* Main Footer */
/*=========================================*/
#footer{
	float:left;
	width:100%;
	background:#333;
	padding:50px 0 0 0;
}
.footer_wapper{
	width:100%; 
	float:left;
}
.footer-col h3{
	font-weight:700;
	color:#fff;
	margin:0 0 22px 0;
}
.footer-col p{
	color:#fff;
	margin:0 0 25px 0;
}
.footer-col p a{
	color:#fff;
}
.footer-col span{
	font-weight:700;
	color:#fff;
	font-size:16px;
}
.footer-col ul li{
	padding:0 0 22px 0;
}
.footer-col ul li a{
	font-size:14px;
	color:#fff;
}
.footer-col ul li a:hover{
	color:#8e8e8e;
}
.footer-gallery li{
	padding:0 !important;
	float:left;
}
.footer-gallery li a:hover img{
	opacity:.8;
}
.footer-newsletter input[type="text"]{
	width:100%;
	background:#fff;
	border:none;
	padding:13px 15px;
	-webkit-border-radius:40px;
	border-radius:40px;
	margin:0 0 20px 0;
}
.footer-newsletter input[type="submit"]{
	border:none;
}
.footer-newsletter input[type="submit"]:hover{
	background:#f0bd0b;
	color:#333;
}
.footer-bottom{
	margin:20px 0 0 0;
	border-top:#4f4f4f solid 1px;
	padding:35px 0;
}
.copyright{
	display:inline-block;
	color:#fff;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
}
.footer-bottom ul{
	float:right;
}
.footer-bottom ul li{
	float:left;
	margin:0 0 0 17px;
}
.footer-bottom ul li a{
	color:#fff;
	text-transform:uppercase;
}
.footer-bottom ul li a:hover{
	color:#8e8e8e;
}
.form1{
	width: 650px;
	height: 800px;
}
.border_01{
	height: 700px;
	width: 610px;
	line-height: 25px;
}	
.triple-length{
	width: 250px;
}
.button{
	width: 124px;
	background-color: #045f3a;
	color: white;
}
.font-style{
	font-weight: bolder;
    font-size: initial;
}
